PORT=5174
VITE_API_BASE=http://localhost:3032/api
VITE_API_TARGET=http://imacals-api:3032

# For frontend (Use domain name restriction)
VITE_GOOGLE_API_KEY=
# https://console.cloud.google.com/google/maps-apis/studio/maps
VITE_GOOGLE_PROPERTIES_MAP_ID=
VITE_GOOGLE_DRAWING_MAP_ID=

FONTAWESOME_PACKAGE_TOKEN=